body {
  margin: 0;
}

main {
  display: grid;
  grid-template-areas: 
    "n"
    "s"
    "ss"
    "SearchLinkSection"
    "AppSection"
    "ContactForm"
    "f";
  grid-template-rows: 60px 360px 600px auto auto auto 620px;
  height: 100vh;
}

#Navbar {
  grid-area: n;
  background-color: #ff385c;
}

#Footer {
  grid-area: f;
  color: white;
}

#ServicesSection{
  grid-area: ss;
}

#SearchTabs{
  grid-area: s;
  color: white;
}

#SearchLinksSection{
  grid-area: SearchLinkSection;
}

#AppSection{
  grid-area: AppSection;
}

#ContactForm{
  grid-area: ContactForm;
}